.card {
  display: flex;
  width: 100%;
  max-width: 810px;
  height: 215px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 5px;
}

.image {
  width: 425px;
  height: 215px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.info {
  padding: 0px 30px 12px 45px; /* 위 오른쪽 아래 왼쪽 */
  flex-grow: 1;
}

.name {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}

.detail {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #555;
  margin-bottom: 6px;
}

.icon {
  margin-right: 6px;
}
