.container {
  width: 380px; 
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 15px; 
}

.logo {
  display: block;
  margin: 0 auto 14px auto; 
  width: 160px; 
  height: auto;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  margin-top: 18px; 
  margin-bottom: 6px;
  font-size: 15px; 
}

.emailRow,
.phoneRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.emailInput,
.phoneInput {
  flex: 1;
  padding: 10px 14px;
  font-size: 15px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 8px;
}

.duplicateBtn {
  height: 42px; 
  width: 90px;
  font-size: 15px; 
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 10px 14px; 
  font-size: 15px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.inputWithIcon {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.inputWithIcon input {
  width: 100%;
  padding: 10px 40px 10px 14px; 
  font-size: 15px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.iconInside {
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
  color: #888;
  font-size: 24px;
  pointer-events: none;

  height: 24px;
  width: 24px;
  line-height: 1;
  vertical-align: middle;
}

.passwordConfirmRow {
  display: flex;
  align-items: center;
}

.passwordConfirmRow input {
  margin-bottom: 0px;
}

.passwordMismatchIcon {
  color: red;
  font-size: 26px; 
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
}

.passwordMatchIcon {
  color: #4caf50;
  font-size: 24px;
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
}

.genderWrapper {
  display: flex;
  gap: 10px; 
  margin-bottom: 14px;
}

.genderBtn {
  flex: 1;
  padding: 10px; 
  font-size: 15px; 
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.genderSelected {
  background-color: #2196f3;
  color: white;
}

.submitBtn {
  background-color: #2196f3;
  color: white;
  padding: 14px 16px; 
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  font-size: 17px; 
  transition: background-color 0.3s;
  margin-top: 24px; 
}

.submitBtn:hover {
  background-color: #1976d2;
}
