.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.8);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-container {
  width: 404px;
  min-height: 483px;
  border-radius: 10px;
  border: 1px solid #9A9A9A;
  background: #FFF;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.popup-title {
  color: #000;
  font-family: NanumGothic;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.popup-info {
  margin-top: 0px;
  width: 100%;
}

.popup-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0;
}

.label {
  width: 40%;
  color: #000;
  text-align: center;
  font-family: NanumGothic;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.value {
  width: 60%;
  color: #000;
  font-family: NanumGothic;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.6px;
  text-align: center;
}

.popup-divider {
  width: 352px;
  height: 1px;
  background: #EBEBEB;
  margin: 0 auto;
}

.popup-confirm-text {
  margin-top: 24px;
  color: #000;
  text-align: center;
  font-family: NanumGothic;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.popup-confirm-button {
  margin-top: 24px;
  width: 296px;
  height: 37px;
  border-radius: 10px;
  border: 1px solid #1D537D;
  background: #3096E6;
  color: #FFF;
  text-align: center;
  font-family: NanumGothic;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}






/* Popupmodal2 전용 박스 스타일 (덮어쓰기) */
.popup-box2 {
  width: 311px;
  height: 355px;
  border-radius: 20px;
  border: 1.3px solid #B9B9B9;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 알림 아이콘 */
.popup-alert-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

/* 수업명 텍스트 */
.popup-class-name {
  color: #3096E6;
  text-align: center;
  font-family: NanumGothic;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
}

/* 메시지 텍스트 */
.popup-message {
  color: #000;
  text-align: center;
  font-family: NanumGothic;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  margin-bottom: 24px;
}

/* 확인 버튼 */
.popup-confirm-button {
  width: 200px;
  height: 38px;
  border-radius: 10px;
  background: #3096E6;
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  border: none;
  cursor: pointer;
}
