/* 전체 wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 50px;
}

/* 필드 레이아웃 */
.field {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 6px;
}

/* 라벨 텍스트 */
.label {
  color: #212121;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

/* input 입력창 */
.input {
  width: 330px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #9A9A9A;
  background: #FFF;
  padding: 0 12px;
  font-size: 16px;
  outline: none;
}

/* 버튼 공통 스타일 */
.submitButton {
  margin-left: 24px;
  width: 358px;
  height: 40px;
  border-radius: 5px;
  background: #3096E6;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 라벨 + 수정 버튼 라인 */
.labelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 355px;
}

/* 성별 선택 버튼 영역 */
.genderWrapper {
  display: flex;
  width: 358px;
  gap: 17px;
}

.genderButton {
  width: 170px;
  height: 40px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #9A9A9A;
  cursor: pointer;

  color: #212121;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.6px;
}

.selected {
  background: #DBDBDB;
}

/* 수정 버튼 */
.editButton {
  width: 50px;
  height: 20px;
  background: #D7D7D7;
  border: 1px solid #9A9A9A;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #212121;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.6px;
}

/* 탈퇴하기 버튼 */
.withdraw {
  color: #898989;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  margin-top: 40px;
  cursor: pointer;
}

/* 타이틀 영역 */
.titleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.icon {
  width: 32px;
  height: 32px;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.6px;
}
