/* 전체 wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 50px;
}

/* 필드 레이아웃 */
.field {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 6px;
}

/* 라벨 텍스트 */
.label {
  color: #212121;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

/* input 입력창 */
.input {
  width: 330px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #9A9A9A;
  background: #FFF;
  padding: 0 12px;
  font-size: 16px;
  outline: none;
}

/* 버튼 공통 스타일 */
.submitButton {
  margin-left: 24px;
  width: 358px;
  height: 40px;
  border-radius: 5px;
  background: #3096E6;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 라벨 + 수정 버튼 라인 */
.labelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 355px;
}

/* 성별 선택 버튼 영역 */
.genderWrapper {
  display: flex;
  width: 358px;
  gap: 17px;
}

.genderButton {
  width: 170px;
  height: 40px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

.selected {
  background-color: #2196f3;
  color: white;
}

/* 수정 버튼 */
.editButton {
  width: 50px;
  height: 25px;
  background-color: #e0e0e0;
  border: none;    
  border-radius: 4px; 
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #333;  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

.editButton2 {
  width: 75px;
  height: 25px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

/* 탈퇴하기 버튼 */
.withdraw {
  color: #898989;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
  letter-spacing: -0.6px;
  cursor: pointer;
}

/* 타이틀 영역 */
.titleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.icon {
  width: 32px;
  height: 32px;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.6px;
}

/* 인증 버튼 */
.verifyButton {
  position: absolute;
  right: -120px;
  top: 1px;
  height: 40px;
  padding: 0 12px;
  width: 70px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #e0e0e0;
  color: 333;
  border: none;
  cursor: pointer;
}

.inputWithButton {
  position: relative;
  width: 330px;
}

.submitButton {
  margin-top: 20px;
  width: 358px;
  height: 40px;
  border-radius: 5px;
  background: #3096E6;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 0 16px;
}

.birthInput {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}